body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td{
    margin:0;
    padding: 0;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
html,body{
    font-family: "Microsoft YaHei",simSun;
    font-size: 12px;
}
.clearfix:after {
    content: '';
    height: 0;
    line-height: 0;
    display: block;
    visibility: hidden;
    clear: both;
}
.clearfix {
    zoom: 1;
}

/*引进*/

